* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(209, 119, 86);
}

.block {
  height: 100vh;
  scroll-snap-align: start;
}

/* première section */
#block1 {
  background-color: rgb(209, 119, 86);
}

#title {
  color: beige;
  padding: 10vh;
  display: flex;
  justify-content: center;
}

#title span {
  color: beige;
  font-weight: 800;
  font-style: italic;
}

#subtitle {
  color: beige;
  padding: 5vh;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

#gs-btn-wrap {
  display: flex;
  justify-content: center;
}

#gs-btn {
  background-color: beige;
  color: rgb(209, 119, 86);
  padding: 20px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: 10px 5px 5px rgb(163, 93, 67);
  text-decoration: none;
}

#gs-btn:hover {
  transform: scale(110%);
  transition: transform 0.2s ease;
}

/* deuxième section */
#block2 {
  background-color: beige;
  display: flex;
}

#block2-text-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#block2-title {
  padding: 5vh;
  margin-top: 15vh;
  font-size: 4vw;
  width: 50%;
  align-items: center;
}

#block2-text {
  padding: 5vh;
  padding-top: 0;
  font-size: 1vw;
  width: 80%;
}

#block2-text span {
  font-weight: 700;
  font-style: italic;
}

#block2-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 177, 137, 0.121);
  border-radius: 10px;
  margin: 10vh;
  padding: 5vh;
}

#block2-img {
  padding: 5vh;
  width: 100%;
  object-fit: contain;
}

/* Section 3*/

#block3 {
  background-color: rgb(209, 119, 86);
  display: flex;
}

#block3-card-wrap {
  display: flex;
  justify-content: space-between;
  gap: 15vw;
  margin: 10vh;
  padding: 5vh;
  align-items: center;
  width: 100%;
}

.card {
  padding: 5vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.c-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 70%;
  font-size: 1.2vw;
}

.c-text h2 {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 15vh;
}

.c-text h3 {
  margin-bottom: 5vh;
}

/* Section 4*/
#block4 {
  background-color: beige;
}

#block4-title {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-weight: 400;
  padding: 10vh;
}

#block4-card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5vw;
  padding: 5vh;
  align-items: center;
}

.personal-card {
  width: 20vw;
  text-decoration: none;
  color: inherit;
}

.personal-card:hover {
  transform: scale(110%);
  transition: transform 0.2s ease;
}

.pc-image-container {
  width: 100%;
}

.pc-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.pc-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1vh;
}

.pc-text h3 {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 1vh;
  text-transform: UPPERCASE;
}

/* Section 5*/
#block5 {
  display: flex;
  width: 100%;
  color: beige;
}

#l-block5 {
  display: inline-block;
  background-color: #ab543a;
  color: beige;
  width: 50%;
}

#block5-title {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  font-weight: 400;
  padding: 5vh;
}

#block5-text {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  font-weight: 400;
  padding: 5vh;
}

#r-block5 {
  display: inline-block;
  background-color: rgb(209, 119, 86);
  color: beige;
  width: 50%;
}

#block5-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.block5-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vh;
  font-size: 1.5vw;
  font-weight: 400;
  padding: 5vh;
}

.block5-list-item p {
  margin-bottom: 40px;
}

.divider {
  width: 90%;
  height: 2px;
  background-color: beige;
}

/* Section 6*/
#block6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(247, 247, 240);
}
#b6-content {
  display: flex;
  flex: 1;
  width: 100%;
}

#lb6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
#block6-title {
  font-size: 3vw;
  font-weight: 700;
  padding: 2vh;
}
#block6-subtitle {
  font-size: 5vw;
  font-weight: 400;
  padding: 2vh;
  align-items: center;
}
#b6-text {
  font-size: 2vw;
  font-weight: 400;
  padding: 2vh;
}

#rb6 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50vw;
  height: 25vw;

  border-radius: 50%;
}

#b6-a {
  text-decoration: none;
  color: beige;
  background-color: rgb(209, 119, 86);
  padding: 20px;
  margin: 20px;
  font-family: "Poppins";
  font-size: 2vw;
  font-weight: 700;
  border-radius: 5px;
  border-color: transparent;
}

#b6-btn {
  color: beige;
  background-color: rgb(209, 119, 86);
  padding: 20px;
  margin: 20px;
  font-family: "Poppins";
  font-size: 2vw;
  font-weight: 700;
  border-radius: 5px;
  border-color: transparent;
}

footer {
  font-size: 1vw;
  padding: 2vh;
}



/* Page d'Ethan */
    
