* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgb(209, 119, 86);
}
.block {
  height: 100vh;
}
/* première section */
#block1 {
  background-color: rgb(209, 119, 86);
}

#title {
  color: beige;
  padding: 10vh;
  display: flex;
  justify-content: center;
}

#title span {
  color: beige;
  font-weight: 800;
  font-style: italic;
}

#subtitle {
  color: beige;
  padding: 5vh;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

#gs-btn-wrap {
  display: flex;
  justify-content: center;
}

#gs-btn {
  background-color: beige;
  color: rgb(209, 119, 86);
  padding: 20px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: 10px 5px 5px rgb(163, 93, 67);
}

#gs-btn:hover {
  transform: scale(110%);
  transition: transform 0.2s ease;
}

/* deuxième section */
#block2 {
  background-color: beige;
  display: flex;
}
#block2-text-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#block2-title {
  padding: 5vh;
  margin-top: 15vh;
  font-size: 4vw;
  width: 50%;
  align-items: center;
}
#block2-text {
  padding: 5vh;
  padding-top: 0;
  font-size: 1vw;
  width: 80%;
}
#block2-text span {
  font-weight: 700;
  font-style: italic;
}
#block2-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 177, 137, 0.121);
  border-radius: 10px;
  margin: 10vh;
  padding: 5vh;
}
#block2-img {
  padding: 5vh;
  width: 100%;
  object-fit: contain;
}
